@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: #f2f2f2;
    margin: 0;
    text-align: center;
    
}

main{
    background: rgb(0,76,167);
    background: linear-gradient(125deg, rgba(0,76,167,1) 0%, rgba(0,2,84,1) 100%);
    min-height: 100vh;
}

input{
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    color: black;
}

button{
    border: none;
    background: rgb(237, 156, 51);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 5px;
    min-width: 125px;
}

button:hover{
    background-color: rgba(140, 140, 140, 0.400);
}

#listDisplay{
    display: grid;
    gap: 2px;
    
}

.todo{
    width: 92vw;
    border-radius: 10px;
    list-style: none;
    padding: 10px;
    background: rgb(255,26,10);
    background: linear-gradient(45deg, rgba(255,26,10,1) 48%, rgba(254,101,40,1) 69%);
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
}
